<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="nilnul3Entities" connectionString="metadata=res://*/prime.db.Model2.csdl|res://*/prime.db.Model2.ssdl|res://*/prime.db.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=nilnul3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>